# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/
.env
.idea/
compose.yml
muellplan_de-backend.iml
muellplan_de-backend_v*.tar 
pubspec.lock
mail/drafts/
bin/test-server.dart
